.cardContainer{
    width: 250px;
    height: auto;
    box-shadow: 1px 2px 2px rgb(232, 233, 233);
    margin: 1% 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(245,245,245,0.3);
}
.renderCardsAds{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2% 2% 2% 5%;
}
.cardBody{
    background-color: rgb(245, 247, 248);
    font-size: 120%;
    padding:10px;
}

.imgCart:hover{
    background-color: rgb(225, 242, 245);
}

.imgCart{
    height: 32px;
    width: auto;
    float: right;
    margin: -2% 0 2% 0;
    cursor: pointer;
    padding: 4px;
    border-radius: 18%;
    background-color: rgba(216, 226, 231,0.5);
    box-shadow: 1px 1px 1px rgb(198, 209, 212);
}
